*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    padding:20px;
}

.container{
    display:flex;
    gap:20px;
}

.form-section{
    width:40%;
    background:white;
    padding:20px;
    border-radius:10px;
}

.preview-section{
    width:60%;
    background:white;
    padding:30px;
    border-radius:10px;
}

input,
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
}

h2{
    margin-bottom:15px;
}
.skill-tag{
    display:inline-block;
    padding:6px 12px;
    margin:4px;
    background:#e8f0fe;
    border-radius:20px;
    font-size:14px;
}
button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

#downloadBtn{
    margin-top:15px;
}
.classic .sidebar{
    display:block;
    width:100%;
    background:none;
    padding:0;
}

.classic .main-content{
    width:100%;
}
.classic{
    display:block;
}

.modern .sidebar{
    display:block;
    width:30%;
    padding:20px;
    background:#f3f4f6;
}

.modern .main-content{
    width:70%;
    padding:20px;
}

.minimal .sidebar{
    display:none;
}

.modern{
    display:flex;
    min-height:800px;
    position:relative;
}

.modern #previewPhoto{
    display:block;
}

.minimal .main-content{
    width:100%;
}

.minimal h2{
    border:none;
    text-transform:uppercase;
    letter-spacing:2px;
}
.sidebar{
    display:none;
}

.main-content{
    width:100%;
}
#previewPhoto{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    display:block;
    margin:0 auto 15px;
}